body {
	background-color: #E0F2F1;
	color: #004D40;
	margin: 0;
	padding: 0;
}

h2 {
	width: 96vw;
	padding: 1vh 1vw;
	margin: 1vh 1vw;
	background-color: #00695C;
	color: #E0F2F1;
}

ul {
	list-style: none;
	padding: 0;
}

ul span {
	float: right;
	clear: left;
}

table {
	display: block;
	text-align: left;
	background-color: #4DB6AC;
	padding: 1vh 1vw;
	overflow-x: auto;
}

table .item {
	cursor: pointer;
}

table .item:hover {
	color: #00695C;
	text-decoration: underline;
}

table td {
	min-width: 200px;
	white-space: nowrap;
}

.content {
	margin: 0.5vh 1vw;
}